<div class="row m-0 mainback sidepadding">
  <div class="col-md-12 p-0">
    <div class="row m-0">
        <div class="col-md-7 p-0 col-sm-12 maincol">
          <p class="mainhead">The world is complex. Search shouldn't be.</p>
          <p class="maintag">FAST AND RELEVANT SEARCH SOLUTION FOR SMALL, MEDIUM OR ENTREPRISE LEVEL E-COMMERCE WEBSITES AND MOBILE APPS.</p>
          <p class="mainintro">Use SearchTap to customize, analyze and build an amazingly effective search experience for your users with minimal IT involvement and no infrastructure investment.</p>
          <p class="mainplan">PLANS START AT $59/MONTH</p>
          <button mat-flat-button class="btnpricing">PRICING</button>
          <button mat-flat-button class="btnfeature">FEATURES</button>
        </div>
        <div class="col-md-5 col-sm-12 pl-5 maincol">
          <mat-card>
            <div class="row m-0">
              <div class="col-md-12 p-0 text-center">
                  <p class="maincardform">Looking for a personalised demo?</p>
                  <hr class="horiline">
                  <p class="maincardformslove">Speak with a Search expert so we can learn about your unique goals.</p>
                  <form class="example-form row m-0">
                    <mat-form-field class="example-full-width col-md-12">
                      <input matInput placeholder="Name" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-12">
                      <input matInput placeholder="Phone" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-12">
                      <input matInput placeholder="Email" value="">
                    </mat-form-field>
                  </form>
                  <button mat-flat-button class="btnschedule">SCHEDULE DEMO</button>
              </div>
            </div>
          </mat-card>    
        </div>
        <div class="col-md-12 slidercol">
            <div id="demo" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active text-center">
                  <div class="row">
                    <div class="col-md-3">
                        <h3 class="caphead">Sponser 1</h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="caphead">Sponser 2</h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="caphead">sponser 3</h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="caphead">sponser 4</h3>
                    </div>
                  </div>
                </div>
                <div class="carousel-item text-center">
                  <div class="row">
                    <div class="col-md-3">
                        <h3 class="caphead">Sponser 5</h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="caphead">Sponser 6</h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="caphead">sponser 7</h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="caphead">sponser 8</h3>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="row m-0 sidepadding borderrow">
  <div class="col-md-12 text-center p-0 featurecol">
    <p class="companyintro">What is Company Name?</p>
    <p class="companyintropara1">It is a subscription based hosted search solution for websites, mobile applications and enterprise softwares. With investments in unrivalled technology 
      and best in class cloud infrastructure, SearchTap helps you build the best search experience for your users and offers world class speed and reliability 
      right from the very the first keystroke.
    </p>
    <p class="companyintropara2">Power packed with features like search as you type, facets, location based results, multiple language support, relevance customization and much more, SearchTap offers an amazingly
       powerful search experience. Our search platform also comes with a “All in one” integrated dashboard that weaves user behaviour and search trends history to show you the 
       whole story that lives within your search data.
    </p>  
    <button mat-flat-button class="btnscheduledemo mt-4">SCHEDULE A PERSONALISED DEMO</button>
  </div>
  <div class="col-md-12 pl-5 pr-5 mt-3 introimgcol">
    <mat-card class="introimgcard">
        <img src="../../../assets/introimg.png" alt="" class="introimg">
    </mat-card>
  </div>
</div>
<div class="row m-0 sidepadding borderrow paddingbottom">
  <div class="col-md-12 p-0 text-center featurecol">
    <p class="featurehead">Easy to use & Smarter than you can imagine.</p>
  </div>
  <div class="col-md-3 text-center featurecol">
    <i class='fas fa-magic featureicon'></i>
    <p class="featurecolhead">AMAZINGLY POWERFUL</p>
    <p class="featurecolpara">Ultra Fast & Accurate Results
        Adaptive Machine Learning Algorithm
        Robust & Secure Cloud Infrastructure</p>
  </div>
  <div class="col-md-3 text-center featurecol">
    <i class='fas fa-magic featureicon'></i>
    <p class="featurecolhead">FULLY CUSTOMISABLE</p>
    <p class="featurecolpara">Smart Dynamic Filters
        Geo-Location based Search Results
        Optimised for Mobile Devices</p>
  </div>
  <div class="col-md-3 text-center featurecol">
    <i class='fas fa-infinity featureicon'></i>
    <p class="featurecolhead">EASY TO INTEGRATE</p>
    <p class="featurecolpara">Seamless Real-time Indexing
        Multiple Platform Integrations
        Guided Setup by Search Specialists</p>
  </div>
  <div class="col-md-3 text-center featurecol">
    <i class='fas fa-magic featureicon'></i>
    <p class="featurecolhead">INTELLIGENT INSIGHTS</p>
    <p class="featurecolpara">Actionable Analytics
        Simple & Intuitive Dashboards
        Top Searches & Zero Result Queries</p>
  </div>
  <div class="col-md-12 text-center">
      <button mat-flat-button class="btnscheduledemo mt-4">VIEW ALL FEATURE</button>
  </div>
</div>
<div class="row m-0 sidepadding borderrow paddingbottom">
  <div class="col-md-12 text-center p-0">
    <p class="featurehead2">Powerful features for you. Superior experience for your visitors.</p>
    <img src="../../../assets/multi-layout.png" alt="" class="featureimg">
  </div>
 
</div>
<div class="row m-0 sidepadding borderrow paddingbottom">
    <div class="col-md-12 text-center p-0">
      <p class="featurehead2">We like to work in silence, our search makes all the noise</p>
    </div>
    <div class="col-md-12 text-center p-0">
      <div class="row m-0">
        <div class="col-md-6 p-0">
          <div class="row m-0">
            <div class="col-md-6 p-0 text-center">
              <img src="../../../assets/sponser.jpg" alt="">
            </div>
            <div class="col-md-6 p-0 text-center">
              <img src="../../../assets/sponser.jpg" alt="">
            </div>
            <div class="col-md-6 p-0 text-center">
              <img src="../../../assets/sponser.jpg" alt="">
            </div>
            <div class="col-md-6 p-0 text-center">
              <img src="../../../assets/sponser.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="row m-0">
              <div class="col-md-6 p-3 text-center">
                <div class="box">
                      <p class="calc">28%</p>
                      <p class="calctext">REVENUE <br> CONTRIBUTION</p>
                </div>
              </div>
              <div class="col-md-6 p-3 text-center">
                  <div class="box">
                      <p class="calc">2x</p>
                      <p class="calctext">PAGES/SESSION</p>
                  </div>
              </div>
              <div class="col-md-6 p-3 text-center">
                  <div class="box">
                      <p class="calc">4x</p>
                      <p class="calctext">ECOMMERCE <br>CONVERSION RATE</p>
                  </div>
              </div>
              <div class="col-md-6 p-3 text-center">
                  <div class="box">
                      <p class="calc">44%</p>
                      <p class="calctext">DECREASE IN <br>BOUNCE RATE</p>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="row m-0 sidepadding borderrow paddingbottom">
  <div class="col-md-12 p-0 text-center">
      <p class="featurehead2">People like you <i class='far fa-heart' style='font-size:36px'></i> (company name)</p>
  </div>
  <div class="col-md-4 mt-5">
    <mat-card>
        <div class="row m-0">
          <div class="col-md-12 text-center">
            <img src="../../../assets/introimg.png" alt="" class="uesrimg">
            <p class="userhead">"Complete Package!"</p>
            <p class="userpara">The erew team’s expertise in working with B2C brands and e-commerce stores
               really helped us make up lost ground (in the online retail space). Their product is 
               the complete package for our store. Search now regularly contributes around 40% of our website revenues.
              </p>
            <span class="userinfo"><strong class="username">-User Name</strong><br>Designation</span>  
          </div>
        </div>
    </mat-card>
  </div>
  <div class="col-md-4 mt-5">
      <mat-card>
          <div class="row m-0">
            <div class="col-md-12 text-center">
              <img src="../../../assets/introimg.png" alt="" class="uesrimg">
              <p class="userhead">"Fantastic Experience!"</p>
              <p class="userpara">The erew team’s expertise in working with B2C brands and e-commerce stores
                 really helped us make up lost ground (in the online retail space). Their product is 
                 the complete package for our store. Search now regularly contributes around 40% of our website revenues.
                </p>
              <span class="userinfo"><strong class="username">-User Name</strong><br>Designation</span>  
            </div>
          </div>
      </mat-card>
  </div>
  <div class="col-md-4 mt-5">
      <mat-card>
          <div class="row m-0">
            <div class="col-md-12 text-center">
              <img src="../../../assets/introimg.png" alt="" class="uesrimg">
              <p class="userhead">"Highly Recommended"</p>
              <p class="userpara">The erew team’s expertise in working with B2C brands and e-commerce stores
                 really helped us make up lost ground (in the online retail space). Their product is 
                 the complete package for our store. Search now regularly contributes around 40% of our website revenues.
                </p>
              <span class="userinfo"><strong class="username">-User Name</strong><br>Designation</span>  
            </div>
          </div>
      </mat-card>
  </div>
</div>