<mat-toolbar color="" class="navbar_menu">
  <mat-toolbar-row>
    <span class="brand">Company Name</span>
    <span class="example-spacer"></span>
    <span class="menu">FEATURES</span>
    <span class="menu">SOLUTIONS</span>
    <span class="menu">SUCCESS STORIES</span>
    <span class="menu">BLOG</span>
    <span class="menu">PRICING</span>
    <button mat-flat-button class="requestdemo">REQUEST DEMO</button>
    <button mat-flat-button class="login">LOGIN</button>
  </mat-toolbar-row>
</mat-toolbar>